[tool.ruff]
src = ["src"]
line-length = 100
target-version = "py310"

[tool.ruff.lint]
select = ["E", "F", "I", "B"]
ignore = [
    "E501",  # opzionale: ignora lunghezza riga > 79/88
]

[tool.pytest.ini_options]
addopts = "-q"
testpaths = ["tests"]
